<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property scope="context" name="LOG_ROOT"
		value="/Users/selvakumar/Work/code/autotask/logs" />
	<property scope="context" name="maxHistory"
		value="15" />
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>
				[%d{yyyy-MM-dd HH:mm:ss}] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>
	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_ROOT}/autotaskpoclog.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_ROOT}/autotaskpoclog.%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<maxHistory>${maxHistory}</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>[%d{yyyy-MM-dd HH:mm:ss}] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>
	<root level="debug">
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</root>
</configuration>